
/*Install Stars from our eyes*/
@font-face {
    font-family: 'Stars-From-Our-Eyes';
    src:url('../fonts/Stars-From-Our-Eyes.ttf') format('truetype'),
        url('../fonts/Stars-From-Our-Eyes.ttf.woff') format('woff'),
        url('../fonts/Stars-From-Our-Eyes.ttf.svg#Stars-From-Our-Eyes') format('svg'),
        url('../fonts/Stars-From-Our-Eyes.ttf.eot'),
        url('../fonts/Stars-From-Our-Eyes.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


/*Sitewide formatting*/
html, body {
    height: 100%;
}
body {
    overflow-x: hidden;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
    color: #777;
}
.text-primary {
    color: #602E8E;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
p.large {
    font-size: 16px;
}
a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}
a {
    color: #602E8E;
}
a:hover, a:focus, a:active, a.active {
    color: #151515;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #602E8E;
}
.img-centered {
    margin: 0 auto;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.bg-darkest-gray {
    background-color: #222;
}
.btn-primary {
    color: #fff;
    background-color: #602E8E;
    border-color: #602E8E;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #151515;
    border-color: #602E8E;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #602E8E;
    border-color: #602E8E;
}
.btn-primary .badge {
    color: #602E8E;
    background-color: #fff;
}
.btn-xl {
    color: #fff;
    background-color: #602E8E;
    border-color: #fff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 22px;
    padding: 10px 30px;
}
.btn-xl:hover, .btn-xl:focus, .btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    color: #602E8E;
    background-color: #d1c8e1;
    border-color: #602E8E;
}
.btn-xl:active, .btn-xl.active, .open .dropdown-toggle.btn-xl {
    background-image: none;
}
.btn-xl.disabled, .btn-xl[disabled], fieldset[disabled] .btn-xl, .btn-xl.disabled:hover, .btn-xl[disabled]:hover, fieldset[disabled] .btn-xl:hover, .btn-xl.disabled:focus, .btn-xl[disabled]:focus, fieldset[disabled] .btn-xl:focus, .btn-xl.disabled:active, .btn-xl[disabled]:active, fieldset[disabled] .btn-xl:active, .btn-xl.disabled.active, .btn-xl[disabled].active, fieldset[disabled] .btn-xl.active {
    background-color: #602E8E;
    border-color: #602E8E;
}
.btn-xl .badge {
    color: #602E8E;
    background-color: #fff;
}
.container-fluid {
    margin-left: 15px;
}

/*Navigation formatting*/
.navbar-default {
    background-color: #602E8E;
    border-color: #fff;
}
.navbar-default .navbar-brand {
    background: url(../img/r&o-branding/02_R&O-ALTNAV-BRAND.png) no-repeat;
    padding-left: 20px;
    margin: 10px;
    background-size: 229px 44px;
    min-width: 229px;
    min-height: 44px;
    color: #602E8E;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
    color: #151515;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle {
    background-color: #602E8E;
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #602E8E;
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}
@media (max-width:992px) {
    .navbar-default .nav li a {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 70%;
        
        color: #fff;
    }
}
@media (max-width:85px) {
    .navbar-default .nav li a {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 60%;
        letter-spacing: 1px;
        color: #fff;
    }
}
@media (max-width:766px) {
    .navbar-default .nav li a {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 1px;
        color: #fff;
    }
}

.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
    color: #222;
    outline: 0;
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #602E8E;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #151515;
}
@media (min-width:767px) {
    .navbar-default {
    background-color: #602E8E;
    opacity: 0.9;
    padding: 20px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 1;
    }
    .navbar-default .navbar-brand {
        background: url(../img/r&o-branding/01_R&O-TOPNAV-BRAND.png) no-repeat;
        margin: 0px;
        padding-left: 20px;
        background-size: 126px 50px;
        min-width: 126px;
        min-height: 50px;
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        background-color: #602E8E;
        padding: 20px 0;
    }
    .navbar-default.navbar-shrink .navbar-brand {
        background: url(../img/r&o-branding/02_R&O-ALTNAV-BRAND.png) no-repeat;
        margin: -10px;
        padding-left: 20px;
        background-size: 229px 44px;
        min-width: 229px;
        min-height: 44px;
        font-size: 1.5em;
    }
}

/*Header formatting*/
header {
    background-image: url(../img/header-bg-after.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
header .intro-text {
    padding-top: 75px;
    padding-bottom: 50px;
}
header .intro-text .img-responsive {
    margin: 0 auto;
}
header .intro-text .intro-lead-in {
    font-family: 'Stars-From-Our-Eyes', Arial, sans-serif;
    font-style: regular;
    font-size: 22px;
    line-height: 35px;
    margin-bottom: 25px;
}
header .intro-text .fa-heart {
    color: #d92329;
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 25px;
}
@media (min-width:767px) {
    header .intro-text {
        padding-top: 75px;
        padding-bottom: 25px;
    }
    header .intro-text .intro-lead-in {
        font-family: 'Stars-From-Our-Eyes', Arial, sans-serif;
        font-style: regular;
        font-size: 40px;
        line-height: 65px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
@media (min-width:768px) {
    section {
    padding: 150px 0;
    }
}
section#testimonials {
    padding: 0px 0;
}
@media (min-width:768px) {
    section#testimonials {
    padding: 0px 0;
    }
}
/*Services formatting*/
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

/*Approach Formatting*/
#approach {
   border-top:double 3px #222;
   border-bottom:double 3px #602E8E;
   background-color: #602E8E;
   

}
#approach .section-heading {
    text-align: center;
    color: #fff;
}
/*Approach Lists*/
#approach ul {
    background-color: #d1c8e1;
    list-style: none;
    box-shadow: 0 0 7px #fff;
    -webkit-box-shadow: 0 0 7px #fff;
    -moz-box-shadow: 0 0 7px #fff;
    -o-box-shadow:0 0 7px #fff;
    position: relative;
    margin: 0;
    margin-top: 35px;
}

#approach ul p {
    font-family: 'Stars-From-Our-Eyes', Arial, sans-serif;
    font-style: regular;
    font-size: 50px;
    color: #602E8E;
    text-align: center;
    padding-top: 7px;
    padding-right: 4px;
    
}
#approach ul p.step-number-left {
    background-color: #fff;
    position: absolute;
    width: 85px;
    height: 85px;
    border:solid 3px #602E8E;
    border-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright:50%;
    -moz-border-radius-bottomleft:50%;
    -moz-border-radius-bottomright:50%;
    -webkit-border-top-left-radius:50%;
    -webkit-border-top-right-radius:50%;
    -webkit-border-bottom-left-radius:50%;
    -webkit-border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    top: 1.5em;
    left: 4.2em;


}
#approach ul p.step-number-right {
    background-color: #fff;
    position: absolute;
    width: 85px;
    height: 85px;
    border:solid 3px #602E8E;
    border-radius: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright:50%;
    -moz-border-radius-bottomleft:50%;
    -moz-border-radius-bottomright:50%;
    -webkit-border-top-left-radius:50%;
    -webkit-border-top-right-radius:50%;
    -webkit-border-bottom-left-radius:50%;
    -webkit-border-bottom-right-radius:50%;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    top: 1.5em;
    right: 4.3em;

}
#approach ul li {
    display: inline-block;
    padding: 0px;
    border-radius: 10px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
#approach ul li.list-img-left {
    padding: 0px;
    margin-left: -40px;
    float: left;

}
#approach ul .list-img-left img{
    padding: 0px;
    float: left;
    width: 40%;
    height: auto;
    border-right: solid 3px #602E8E;
}
#approach ul li.list-img-right {
    padding: 0px;
    margin-right: -386px;
    float: right;

}
#approach ul .list-img-right img{
    padding: 0px;
    float: left;
    width: 40%;
    height: auto;
    border-left: solid 3px #602E8E;
}

/*Old portfolio formatting*/
#portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(254, 209, 54, .9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0;
}
#portfolio * {
    z-index: 2;
}
@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}
/*About formatting*/
#about .about-portrait{
    margin: 15px;
    margin-top: 5px;
}
#about .about-text {
    margin-left: 15px;
}
#about .about-timeline {

    border-radius: 2px;
}
#about .about-timeline .timeline-style {

    border-top:solid 1px #602E8E;
    border-left:solid 2px #602E8E;
    border-bottom:solid 1px #602E8E;
   
}
#about .about-timeline .about-timeline-text {
    padding: 5px;
}
/*Before & After Formatting*/
/*Before and After 1*/
#beforeandafter .before1 {
    background-image: url(../img/before-and-after/aptB1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px;
    box-shadow: inset 0px 0px 75px rgba(0,0,0,1);
}
#beforeandafter .after1 {
    background-image: url(../img/before-and-after/aptA1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px; 
    box-shadow: inset 0px 0px 75px rgba(255,255,255,0.4);   
}
/*Before and After 2*/
#beforeandafter .before2 {
    background-image: url(../img/before-and-after/tessaB7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px;
    box-shadow: inset 0px 0px 75px rgba(0,0,0,1);
}
#beforeandafter .after2 {
    background-image: url(../img/before-and-after/tessaA7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px; 
    box-shadow: inset 0px 0px 75px rgba(255,255,255,0.4);   
}
/*Before and After 3*/
#beforeandafter .before3 {
    background-image: url(../img/before-and-after/tessaB7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px;
    box-shadow: inset 0px 0px 75px rgba(0,0,0,1);
}
#beforeandafter .after3 {
    background-image: url(../img/before-and-after/tessaA7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px; 
    box-shadow: inset 0px 0px 75px rgba(255,255,255,0.4);   
}
/*Before and After 4*/
#beforeandafter .before4 {
    background-image: url(../img/before-and-after/tessaB7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px;
    box-shadow: inset 0px 0px 75px rgba(0,0,0,1);
}
#beforeandafter .after4 {
    background-image: url(../img/before-and-after/tessaA7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-left: 0px;
    padding-right: 0px;
    height: 300px; 
    box-shadow: inset 0px 0px 75px rgba(255,255,255,0.4);   
}
/*Reveal Styling*/
#beforeandafter h2 {
    visibility: hidden;
}
#beforeandafter .reveal-before {
    background-image: url(../img/r&o-branding/08-before.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    
}
#beforeandafter .reveal-after {
    background-image: url(../img/r&o-branding/09-after.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    
}

/*Old team member formatting*/
.team-member {
    text-align: center;
    margin-bottom: 50px;
    background-color: #323332;
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}
.team-member p {
    margin-top: 0;
}
aside.clients img {
    margin: 0 auto;
}

/*Testimonials formatting*/
section#testimonials {
    background-color: #d1c8e1;
    background-position: center;
    background-repeat: no-repeat;
    border-top:double 3px #602E8E;
    border-bottom:double 3px #fff;
}

section#testimonials .carousel {
    padding-top: 100px;
    padding-bottom: 150px;
    display: block;
    margin: 0 auto;
}

section#testimonials .section-heading {
    margin-top: 40px;
    color: #fff;
    font-size: 2em;
}
section#testimonials .testimonial-text {
    font-size: 1.5em;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    margin-left: 50px;
    margin-right: 50px;

}
@media (min-width:767px) {
    section#testimonials .testimonial-text {
        font-size: 1.75em;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
    }
}


/*Contact formatting*/
section#contact {
    background-color: #602E8E;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: #fff;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #602E8E;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact :-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact ::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact :-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb;
}
section#contact .text-danger {
    color: #e74c3c;
}

/*Footer formatting*/
footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    display: block;
    background-color: #602E8E;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
    background-color: #602E8E;
}
.btn:focus, .btn:active, .btn.active, .btn:active:focus {
    outline: 0;
}

/*Old portfolio formatting*/
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.portfolio-modal .close-modal:hover {
    opacity: .3;
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #602E8E;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
    height: 75px;
    width: 1px;
    background-color: #602E8E;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}
.portfolio-modal .modal-backdrop {
    opacity: 0;
    display: none;
}
::-moz-selection {
    text-shadow: none;
    background: #602E8E;
}
::selection {
    text-shadow: none;
    background: #602E8E;
}
img::selection {
    background: 0 0;
}
img::-moz-selection {
    background: 0 0;
}
body {
    webkit-tap-highlight-color: #602E8E;
}